

<div id="container">
<mat-toolbar style="background-color: #1F055F;color: white;font-size: 35px;font-family: serif;">
 <a routerLink="/" routerLinkActive="active"><img src="https://image.ibb.co/bDBY0x/logo_pink1.png" height="70" width="70"  alt="" border="0"></a> 
  <span style="margin-left: 35%;">Search Result</span>
</mat-toolbar>

<div *ngFor="let item of jobList" style="">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title style="background-color: black;color:white"><mat-label>{{item.Company}}:</mat-label></mat-card-title>
    <mat-card-subtitle>{{item.Industy}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>Title : {{item.Title}}</span></li>
      <li class="list-group-item"><span>Salary : {{item.Salary}}</span></li>
      <li class="list-group-item"><span>Experience : {{item.Experience}}</span></li>
      <li class="list-group-item"><span>Created : {{item.Created}}</span></li>
      <li class="list-group-item"><span>Contact : {{item.Contact}}</span></li>
      <li class="list-group-item"><span>Phone : {{item.phone}}</span></li>
      <li class="list-group-item"><span>City : {{item.city}}</span></li>
      <li class="list-group-item"><span>Country : {{item.Country}}</span></li>
</ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="satisfaction(item)">Satisfaction Score</button>
  </mat-card-actions>
</mat-card>
<hr/>
</div>

