<div>
	<app-toaster [message]="toast.message"></app-toaster>
</div>
<h2 mat-dialog-title>Please, Post The Job</h2>
 <div>
<form role="form" id="employeeForm" [formGroup]="employeeForm">

<mat-dialog-content>

     <div class="row">
			<div class="col-md-6">
				<mat-form-field>
					<input matInput type="text" formControlName="companyName" placeholder="Company Name">
            <mat-error *ngIf="employeeForm.controls.companyName.invalid && employeeForm.controls.companyName.touched">
                  Company Name is required
            </mat-error>
				</mat-form-field>
			</div>
			
        <mat-form-field>
          <input matInput type="email" formControlName="email"  placeholder="Email Address">
            <mat-error *ngIf="employeeForm.controls.email.invalid && employeeForm.controls.email.touched">
                  Email is invalid
            </mat-error>
        </mat-form-field>
      </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput type="tel" formControlName="contact" placeholder="Enter 10 digit phone#" minlength="10"  maxlength="10">
          <mat-error *ngIf="employeeForm.controls.contact.invalid && employeeForm.controls.contact.touched">
                  Phone is invalid
            </mat-error>
        </mat-form-field>
      </div>

       <div class="col-md-6">
        <mat-form-field>
          <input matInput [matDatepicker]="dobPicker" formControlName="doc" placeholder="Date of Creation" >
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
          <mat-error *ngIf="employeeForm.controls.doc.invalid && employeeForm.controls.doc.touched">
                  Enter Date of Creation
            </mat-error>
        </mat-form-field>
      </div>
    </div>
		<div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput type="number"  formControlName="salary" placeholder="Salary">
            <mat-error *ngIf="employeeForm.controls.salary.invalid && employeeForm.controls.salary.touched">
                  Salary is required
            </mat-error>
        </mat-form-field>
      </div>
       <div class="col-md-6">
        <mat-form-field>
          <input matInput type="number"  formControlName="experience" placeholder="Experience">
            <mat-error *ngIf="employeeForm.controls.experience.invalid && employeeForm.controls.experience.touched">
                  Experience is required
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
     <mat-form-field>
      <mat-select formControlName="industry" placeholder="Industry Type">
        <mat-option *ngFor="let in of industries" [value]="in.value">
          {{ in.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="role" placeholder="Type, Skills">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
   <app-location [group]="employeeForm.controls.address"></app-location>
  </div>
  </mat-dialog-content>
    <mat-dialog-actions>
      <button id="add" class="btn btn-lg btn-primary btn-block" (click)="addEmployee()" type="submit" [disabled]="!employeeForm.valid" value="submit">
        Add Job
      </button>
    </mat-dialog-actions>

	</form>