li{
  padding: 0 20px 0 20px;
  color: #000000;
}

a{
  color:#ffffff;
  font-weight: bold;
  font-size: 18px;
  text-transform:full-width;
}

#centerdiv{

    position: absolute;
    top:40%;
    left:50%;
    height: 5em;
    width: 300em;
    margin-top: -50px;
    margin-left: -330px;
    margin-right: 50px;
    width: 50%;
    background-color: inherit;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    border-radius: 10px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: inherit;
    flex-direction: row;
      /* top: 50%;
    left: 50%;
    width:30em;
    height:18em; */
}
.mat-select {
    display: inline-block;
    width: 100%;
    outline: 0;
    color: white;
    background-color: white;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    /* color: white; */
}
.mat-raised-button{
  background-color: inherit;
  color: white;
}
.mat-fab {
    min-width: 0;
    border-radius: 50%;
    width: 80px;
    height: 56px;
    padding: 0;
    flex-shrink: 0;
    margin-left: 25px;
    margin-top: 5px;
    z-index: 25px;
    padding-left: 2;
}
.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: floralwhite !important;
}