
<div class="navbar-brand"> </div>
<div class="collapse navbar-collapse" id="navbar-collapse-1">
    <a><img src="https://image.ibb.co/bDBY0x/logo_pink1.png" height="70" width="70"  alt="" border="0"></a>
    <ul class="nav navbar-nav navbar-right">
          <li><button mat-raised-button *ngIf="auth.loggedIn" routerLink="/analysis" routerLinkActive="active">Job Analysis</button></li>
          <li><button (click)="openDialogEmployer()"  mat-raised-button>Employer</button></li>
          <li><button *ngIf="!auth.loggedIn" mat-raised-button (click)="openDialog()">Sign In</button></li>
          <li><button *ngIf="!auth.loggedIn" mat-raised-button (click)="openDialogRegister()">Register</button></li>
          <li *ngIf="auth.loggedIn">
          <button   mat-raised-button (click)="logout()">Logout</button>
        </li>
        <li><button (click)="openDialogFeedback()"  mat-raised-button>Feedback</button></li>
        <li>
          <p *ngIf="auth.loggedIn" style="color: white;font-size: 15px;" >Hello {{auth.currentUserName}}</p>
       </li>
       </ul>
  </div>

<div id="centerdiv">
<mat-form-field>
  <mat-select [(ngModel)]="industry" placeholder="Industry Type">
    <mat-option *ngFor="let in of industries" [value]="in.value">
      {{ in.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="salary" placeholder="Expected Salary">
    <mat-option *ngFor="let sal of salaries" [value]="sal.value">
      {{ sal.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="city" placeholder="City">
    <mat-option *ngFor="let location of locations" [value]="location.value">
      {{ location.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-fab color="primary" (click)="search()">Search</button>

</div>
