<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="navbar-brand">
<h2 align="left">Job Hub</h2>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Job Analytics</a></li>
            <li><a href="#">Employers</a></li>
            <li><a href="#">SignUp</a></li>
            <li><a href="#">Register</a></li>
          </ul>
</div>
