

<div class="container">
<mat-toolbar style="background-color: #1F055F;color: white;font-size: 35px;font-family: serif;">
 <a routerLink="/" routerLinkActive="active"><img src="https://image.ibb.co/bDBY0x/logo_pink1.png" height="70" width="70"  alt="" border="0"></a>	
  <span style="margin-left: 35%;">Job Analytics</span>
</mat-toolbar>
	<div class="row" id="chart">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
	  		<div class="chart-div">
	   			<div id="" style="" class="chart">
	   			 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total No of Jobs </mat-card-title>
					    <mat-card-subtitle>Citiwise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					   <canvas baseChart
				            [datasets]="barChartData"
				            [labels]="barChartLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            [colors]="barChartColors"
				            >
				         </canvas>
					  </mat-card-content>
					</mat-card>
					 
	 		 	</div>
	 		</div>
		</div>
		 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
            <div class="chart-div">
                <div id="" class="chart2" style="">
                	 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total No of Jobs </mat-card-title>
					    <mat-card-subtitle>Citiwise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					   <canvas baseChart [data]="doughnutChartData"
			              [labels]="doughnutChartLabels"
			              [chartType]="doughnutChartType">
              			</canvas>
					  </mat-card-content>
					</mat-card>
                    
                </div>
            </div>
        </div>
	</div>

	<div class="row" id="chart">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
	  		<div class="chart-div">
	   			<div id="" style="" class="chart">
					 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total No of Jobs </mat-card-title>
					    <mat-card-subtitle>Role Wise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					   <canvas baseChart
				            [datasets]="barChartData"
				            [labels]="barChartLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            [colors]="barChartColors"
				            >
				         </canvas>
					  </mat-card-content>
					</mat-card>
	 		 	</div>
	 		</div>
		</div>
		 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
            <div class="chart-div">
                <div id="" class="chart2" style="">
                   <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Salary Scope </mat-card-title>
					    <mat-card-subtitle>Industry Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					   <canvas baseChart [data]="doughnutChartData"
			              [labels]="doughnutChartLabels"
			              [chartType]="doughnutChartType">
              			</canvas>
					  </mat-card-content>
					</mat-card>
                </div>
            </div>
        </div>
	</div>
</div>