

<div class="container">
<mat-toolbar style="background-color: #1F055F;color: white;font-size: 35px;font-family: serif;">
 <a routerLink="/" routerLinkActive="active"><img src="https://image.ibb.co/bDBY0x/logo_pink1.png" height="70" width="70"  alt="" border="0"></a>	
  <span style="margin-left: 35%;">Job Analytics</span>
  <span style="float: right;padding-left: 30%;"> {{industry}} </span>
</mat-toolbar>
	<div class="row" id="chart">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-top: 25px;">
	  		<div class="chart-div">
	   			<div id="" style="" class="chart">
	   			 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total No of Jobs </mat-card-title>
					    <mat-card-subtitle>Citiwise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content >
					  	<mat-spinner style="padding-left: 15px" *ngIf="!showBarChart"></mat-spinner>
					   <canvas baseChart *ngIf="showBarChart" 
				            [datasets]="barChartData"
				            [(labels)]="barLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            [colors]="barChartColors"
				            >
				         </canvas>
					  </mat-card-content>
					</mat-card>
					 
	 		 	</div>
	 		</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-top: 25px;">
	  		<div class="chart-div">
	   			<div id="" style="" class="chart">
					 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total Salary </mat-card-title>
					    <mat-card-subtitle>City Wise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					  	<mat-spinner style="padding-left: 15px" *ngIf="!averagesalaryChart"></mat-spinner>
					   <canvas baseChart *ngIf="averagesalaryChart"
				            [datasets]="salaryData"
				            [labels]="barLabels"
				            [options]="barChartOptions"
				            [legend]="barChartLegend"
				            [chartType]="barChartType"
				            [colors]="salaryChartColors"
				            >
				         </canvas>
					  </mat-card-content>
					</mat-card>
	 		 	</div>
	 		</div>
		</div>
		 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-top: 25px;">
            <div class="chart-div">
                <div id="" class="chart2" style="">
                   <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Crime Rating Data </mat-card-title>
					    <mat-card-subtitle> City Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					  	<mat-spinner style="padding-left: 15px" *ngIf="!showCrimeChart"></mat-spinner>
					   <canvas baseChart *ngIf="showCrimeChart"
		                [datasets]="crimeChartData"
		                [labels]="crimeChartLabels"
		                [options]="crimeChartOptions"
		                [colors]="crimeChartColors"
		                [legend]="crimeChartLegend"
		                [chartType]="crimeChartType"
		                ></canvas>
					  </mat-card-content>
					</mat-card>
                </div>
            </div>
        </div>
	</div>

	<div class="row" id="chart">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
            <div class="chart-div">
                <div id="" class="chart2" style="">
                	 <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Total No of Jobs </mat-card-title>
					    <mat-card-subtitle>Rolewise Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					  <mat-spinner style="padding-left: 15px" *ngIf="!showRoleChart"></mat-spinner>
					   <canvas baseChart [data]="roleChartData" *ngIf="showRoleChart" 
			              [labels]="roleChartLabels"
			              [chartType]="doughnutChartType">
              			</canvas>
					  </mat-card-content>
					</mat-card>
                    
                </div>
            </div>
        </div>
       
		 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 25px;">
            <div class="chart-div">
                <div id="" class="chart2" style="">
                   <mat-card class="example-card">	
	   				<mat-card-header>
					    <mat-card-title>Salary Scope </mat-card-title>
					    <mat-card-subtitle>Role Breakdown</mat-card-subtitle>
					  </mat-card-header>
					  <mat-card-content>
					  <mat-spinner style="padding-left: 15px" *ngIf="!showPieChart"></mat-spinner>
					   <canvas baseChart *ngIf = "showPieChart"
			          [data]="pieChartData"
			          [labels]="pieChartLabels"
			          [chartType]="pieChartType"
			          ></canvas>
					  </mat-card-content>
					</mat-card>
                </div>
            </div>
        </div>
       
</div>
</div>