
<div class="container-fluid col-lg-8 col-xs-12" style="height: 100%;
    padding-top: 10%;">

<div class="example-container" >
<mat-grid-list cols="4" rowHeight="400px">
  

<mat-card-title role="toolbar" id="cardTitle" label="aria-label">
Login</mat-card-title>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card-content id="formDetails">
	<mat-form-field>
    <input matInput placeholder="Email" type="email" name="email" formControlName="email" autofocus>
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required    </strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
     <input matInput type="password" name="password" formControlName="password" placeholder="Password">
     <mat-error *ngIf="password.hasError('minLength') && !password.hasError('required')">
      Length too short.
    </mat-error>
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

<button mat-raised-button  id="loginButton" color="primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i>Login</button>

</mat-card-content>
</form>
</mat-grid-list>
</div>

