<body ng-controller="RegisterCtrl" ng-app="myApp">
 <div class="container">
    <div id="signup">
        <div class="signup-screen">
          <div class="space-bot text-center">
              <h1>Your dream job is just few steps away!</h1>
           <div class="divider"></div>
         </div>
         <div class="signup-container">
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last Name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email Id" [formControl]="email" required>
              <!-- <mat-error ngOnInit="email.invalid">{{login()}}</mat-error> -->
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>

            <div class="signup-button">
            <button mat-button>Join Now</button>
          </div>
        </div>
              </div>
            </div>
        </div>
</body>
